<script src="https://accounts.google.com/gsi/client" async defer></script>
<style>
    .login_button {
        float: right;
        width: 200px;
        margin: 25px;                
    }
</style>

<div id="g_id_onload"
     data-client_id="<%= ENV["GOOGLE_OAUTH_CLIENT_ID"] %>"
     data-auto_select="true"
     data-login_uri="<%= user_google_oauth2_omniauth_authorize_path %>">
</div>
<div class="login_button">
    <div class="g_id_signin" data-type="standard"></div>
</div>

